# backend/.gitignore

# dependencies
/node_modules

# Logs
logs
*.log

# Runtime
/pids
*.pid
*.seed
*.pid.lock

# dotenv files
.env
.env.*.local

# Coverage & debug
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
